$primary-color: #e67e22;
$secondary-color: #2ecc71;
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
    color: #2c3e50;
}

header {
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 1rem 0.5rem; // Añadir padding para controlar el alto
    height: 80px;
}

main {
    padding: 0.5rem;
}

.intro-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.image-container {
    flex: 1 1 300px;
    text-align: center;

    img {
        max-width: 100%;
        //height: auto;
        border-radius: 10px;
    }
}

.description {
    flex: 2 1 200px;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    align-items: flex-start;
    margin-bottom: 0.3rem;
}

.ingredients, .time {
    flex: 1 1 200px;
}

h1, h2 {
    color: $secondary-color;
}

.description, .ingredients, .time, .instructions {
    margin-bottom: 0.5rem;
}

ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;    
}

li {
    background: #fff;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid $primary-color;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

li input[type="checkbox"] {
    margin-right: 0.5rem;
}

li label {
    flex-grow: 1;
}

.time {
    p {
        margin: 0.5rem 0;
    }

    .timer {
        display: flex;
        align-items: center;

        input {
            width: 60px;
            margin-right: 1rem;
        }

        button {
            margin-right: 1rem;
            background-color: $primary-color;
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            cursor: pointer;
            border-radius: 5px;
        }

        p {
            font-size: 1.5rem;
            margin: 0;
        }
    }
}

ol {
    padding-left: 1rem;
}

ol li {
    margin: 0.5rem 0;
}

footer {
    background-color: $primary-color;
    color: white;
    text-align: center;
	padding:20px;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;

    .social-media {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .social-icon {
            color: white;
            font-size: 1.5rem;
            text-decoration: none;

            &:hover {
                color: $secondary-color;
            }
        }
    }
    
    .derechos {
        color:#fff;
        text-align: center;
        align-items: center;
        display: inline-block;
        align-content: center;
        padding:10px;
    }
}
